body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

svg {
  z-index: 0;
  cursor: pointer;
}

.connectPoint {
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: cadetblue;
  cursor: pointer;
  transition: .1s background-color ease-in;
}

.connectPoint:hover {
  background-color: #a0a0a0;
}

.action {
  display: flex;
  background: #ccc;
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient( white, transparent 1px), linear-gradient( 90deg, white, transparent 1px);
  background-color: #efefef;
  background-size: 15px 15px;
}

.app-container {
  display: flex;
  overflow: hidden;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h1 {
  text-align: center;
}

.MuiInput-root {
  padding: 0 10px;
  width: 95%;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 5px;
}